In [2]:
import pandas as pd
import statsmodels.api as sm

In [6]:
dataset = pd.read_excel("C:/LetsUpgrade_AI_ML/Day21/Data/Bank_Personal_Loan_Modelling.xlsx", sheet_name=1)

In [7]:
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [18]:
Y = dataset["Personal Loan"]

In [20]:
X = dataset[["Income","CCAvg","Education"]]

In [21]:
X1 = sm.add_constant(X)

In [22]:
Logistic=sm.Logit(Y,X1)

In [23]:
result = Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.157678
         Iterations 9

In [24]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4996
Method:                           MLE   Df Model:                            3
Date:                Mon, 10 Aug 2020   Pseudo R-squ.:                  0.5013
Time:                        21:30:53   Log-Likelihood:                -788.39
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const        -11.3779      0.427    -26.636      0.000     -12.215     -10.541
Income         0.0496      0.002     22.884      0.000       0.045       0.054
CCAvg          0.1167      0.034      3.387      0.001       0.049       0.184
Education      1.7530      0.101     17.386      0.000       1.555       1.951
==============================================================================
"""