In [78]:
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [79]:
dataset = pd.read_csv("C:/LetsUpgrade_AI_ML/Day24/Data/train.csv")

In [80]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [81]:
dataset1=dataset.dropna()
dataset2=dataset1.drop_duplicates()
dataset3=dataset2.drop(["Name","Ticket","Cabin"],axis=1)

In [82]:
dataset3.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [83]:
le=preprocessing.LabelEncoder()
#le.fit(dataset3["Sex"])
dataset3["Sex"] = le.fit_transform(dataset3['Sex'])
dataset3["Age"] = le.fit_transform(dataset3["Age"])
dataset3["Fare"] = le.fit_transform(dataset3["Fare"])
#le.fit(dataset3["Embarked"])
dataset3["Embarked"] = le.fit_transform(dataset3["Embarked"])

In [84]:
dataset3.head()

    PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
1             2         1       1    0   32      1      0    62         0
3             4         1       1    0   28      1      0    49         2
6             7         0       1    1   49      0      0    46         2
10           11         1       3    0    4      1      1    12         2
11           12         1       1    0   53      0      0    20         2

In [85]:
y=dataset3["Pclass"]
x=dataset3.drop(["Pclass"],axis=1)

In [86]:
x.count()

PassengerId    202
Survived       202
Sex            202
Age            202
SibSp          202
Parch          202
Fare           202
Embarked       202
dtype: int64

In [87]:
y.count()

202

In [88]:
x_train,x_test,y_train,y_test = train_test_split (x,y,test_size=0.3,random_state=0)

In [89]:
x_train.head()

     PassengerId  Survived  Sex  Age  SibSp  Parch  Fare  Embarked
444          446         1    1    4      0      2    72         2
788          790         0    1   41      0      0    70         0
101          103         0    1   13      0      1    66         2
689          691         1    1   23      1      0    54         2
429          431         1    1   20      0      0    20         2

In [90]:
x_train.count()

PassengerId    141
Survived       141
Sex            141
Age            141
SibSp          141
Parch          141
Fare           141
Embarked       141
dtype: int64

In [91]:
x_test.count()

PassengerId    61
Survived       61
Sex            61
Age            61
SibSp          61
Parch          61
Fare           61
Embarked       61
dtype: int64

In [92]:
from sklearn.naive_bayes import *

In [93]:
clf=BernoulliNB()

In [94]:
y_pred=clf.fit(x_train,y_train).predict(x_test)

In [95]:
accuracy_score(y_test,y_pred,normalize=True)

0.8852459016393442

In [99]:
confusion_matrix(y_test,y_pred)

array([[54,  1,  0],
       [ 4,  0,  0],
       [ 2,  0,  0]], dtype=int64)

In [100]:
dataset3.head()

    PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
1             2         1       1    0   32      1      0    62         0
3             4         1       1    0   28      1      0    49         2
6             7         0       1    1   49      0      0    46         2
10           11         1       3    0    4      1      1    12         2
11           12         1       1    0   53      0      0    20         2

In [ ]:
def NB_loop(strDV):
    
    for i in dataset3.columns:
        if (i!='PassengerId' and i==strDV):
            y=dataset3[i]
            x=dataset3.drop([i,"PassengerId"],axis=1)
            x_train,y_train,x_test,y_test = train_test_split(x,y,test_size=0.3,random_state=0)
            clf=BernoulliNB()
            y_pred=clf.fit(x_train,y_train).predict(x_test)
            print ("Naive Bayes Theorem - Accuracy Score = ",accuracy_score(y_test,y_pred,normalize=True))
        elif (i==strDV):
            print (i,"Cannot be considered as dependent variable")
  
strDV = input ("Please provide dependent variable: ")
NB_loop(strDV)