In [1]:
import pandas as pd
from sklearn import preprocessing
from sklearn import svm
from sklearn import neighbors
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
dataset = pd.read_csv("C:/LetsUpgrade_AI_ML/Day24/Data/train.csv")

In [3]:
dataset.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
dataset1=dataset.dropna()
dataset2=dataset1.drop_duplicates()
dataset3=dataset2.drop(["Name","Ticket","Cabin"],axis=1)

In [5]:
dataset3.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch',
       'Fare', 'Embarked'],
      dtype='object')

In [6]:
le=preprocessing.LabelEncoder()
#le.fit(dataset3["Sex"])
dataset3["Sex"] = le.fit_transform(dataset3['Sex'])
dataset3["Age"] = le.fit_transform(dataset3["Age"])
dataset3["Fare"] = le.fit_transform(dataset3["Fare"])
#le.fit(dataset3["Embarked"])
dataset3["Embarked"] = le.fit_transform(dataset3["Embarked"])

In [7]:
dataset3.head()

    PassengerId  Survived  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
1             2         1       1    0   32      1      0    62         0
3             4         1       1    0   28      1      0    49         2
6             7         0       1    1   49      0      0    46         2
10           11         1       3    0    4      1      1    12         2
11           12         1       1    0   53      0      0    20         2

In [8]:
y=dataset3["Survived"]
x=dataset3.drop(["Survived"],axis=1)

In [9]:
x.count()

PassengerId    202
Pclass         202
Sex            202
Age            202
SibSp          202
Parch          202
Fare           202
Embarked       202
dtype: int64

In [10]:
x_train,x_test,y_train,y_test = train_test_split (x,y,test_size=0.3,random_state=0)

In [11]:
x_train.count()

PassengerId    141
Pclass         141
Sex            141
Age            141
SibSp          141
Parch          141
Fare           141
Embarked       141
dtype: int64

In [12]:
x_test.count()

PassengerId    61
Pclass         61
Sex            61
Age            61
SibSp          61
Parch          61
Fare           61
Embarked       61
dtype: int64

In [13]:
x_train.head()

     PassengerId  Pclass  Sex  Age  SibSp  Parch  Fare  Embarked
444          446       1    1    4      0      2    72         2
788          790       1    1   41      0      0    70         0
101          103       1    1   13      0      1    66         2
689          691       1    1   23      1      0    54         2
429          431       1    1   20      0      0    20         2

In [14]:
y_train.head()

444    1
788    0
101    0
689    1
429    1
Name: Survived, dtype: int64

In [15]:
clf=svm.SVC(gamma=0.01,C=100)

In [16]:
clf.fit(x_train,y_train)

SVC(C=100, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma=0.01, kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [17]:
y_pred=clf.predict(x_test)

In [18]:
accuracy_score(y_test,y_pred,normalize=True)

0.6229508196721312

In [19]:
confusion_matrix(y_test,y_pred)

array([[ 2, 21],
       [ 2, 36]], dtype=int64)

In [21]:
def svm_Loop(strDV):
    for i in dataset3.columns:
        if (i!='PassengerId' and i==strDV):
            y = dataset3[i]
            x= dataset3.drop([i,"PassengerId"],axis = 1)
            #print (i)
            x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=0)
            clf = svm.SVC(gamma=0.01,C=100)
            clf.fit(x_train,y_train)
            y_pred = clf.predict(x_test)        
            print("Accuracy Score ",accuracy_score(y_test,y_pred,normalize=True),"Dependent Variable = ",i," Independent Variable - Remaining")
        elif (i==strDV):
            print (i , " Cannot be considered as Dependent Variable")
            


strDV = input ('Please provide Dependent Variable')
#print ( strDV )
svm_Loop(strDV)

Please provide Dependent VariableSurvived
Accuracy Score  0.6065573770491803 Dependent Variable =  Survived  Independent Variable - Remaining